<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/flatly/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="hero-unit">
        <h1><p> Contacts Application</p></h1>
        <hr>
        <h2> Add a new Contact </h2>

        <form action="#" th:action="@{/contacts/addcontact}" th:object="${contacts}" method="post">
            <div th:insert="contactFragment.html :: contactFrag"/>
        </form>
    </div>
</div>
</body>
</html>